*{
    margin: 0;
    padding: 0;
}

body{
    background-color: turquoise;
}


h1{
    text-align: center;
    font-family: cursive;

}

p{
    justify-content: center;
    text-align: center;
    margin: 1rem 2rem;
}